{% extends 'base.html' %}
{% load static %}

{% block main %}
    <div class="main-container">
        <div class="table-title">
            <h2>Доступность записи на первичный прием</h2>
        </div>
        <div class="table-data">
            <table id="patient-table">
                <thead>
                <tr>
                    <th>Специальность</th>
                    <th>Слоты сегодня</th>
                    <th>Свободные сегодня</th>
                    <th>Свободные на 14 дней</th>
                </tr>
                </thead>
                <tbody id="data-body">
                {% for row in data_from_db %}
                    <tr>
                        <td>{{ row.Наименование_должности }}</td>
                        <td>{{ row.Всего_1 }}</td>
                        <td>{{ row.Слоты_свободные_для_записи_1 }}</td>
                        <td>{{ row.Слоты_свободные_для_записи_14 }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% block content %}
        {% endblock %}
    </div>
    <div class="info-container">
        {% block info %}
        {% endblock %}
    </div>
    <script>
        $(document).ready(function () {
            function fetchData() {
                $.ajax({
                    url: '{{ url_data }}', // URL для получения данных из базы данных
                    type: 'GET',
                    success: function (data) {
                        // Очистка таблицы перед обновлением данных
                        $('#data-body').empty();

                        // Вставка данных из AJAX-запроса в таблицу
                        data.forEach(function (row) {
                            $('#data-body').append(`<tr><td>${row['Наименование должности']}</td>
                                                    <td>${row['Всего_1']}</td>
                                                    <td>${row['Слоты свободные для записи_1']}</td>
                                                    <td>${row['Слоты свободные для записи_14']}</td></tr>`);
                        });
                    }
                });
            }
            fetchData();
            // Запуск обновления данных каждые 10 секунд
            setInterval(fetchData, 60 * 1000);
        });
    </script>

{% endblock %}

