<!-- index.html -->
{% extends 'base.html' %}
{% load static %}

{% block main %}
    <div class="main-container">
        <div class="table-title">
            <h2>Информация о приеме в корпусах для инфопанелей</h2>
        </div>
        <div class="table-data">
            <table id="patient-table">
                <thead>
                <tr>
                    <th>Подразделение</th>
                    <th>Ссылка</th>
                </tr>
                </thead>
                <tbody>
                {% for page in pages %}
                    <tr>
                        <td>{{ page.title }}</td>
                        <td><a href="{% url 'dynamic_page' page.path %}">Перейти</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <h5><a href="{% url 'upload_data' %}">Обновление данных</a></h5>
        </div>
    </div>
{% endblock %}
